.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  font-weight: 300;
}

.activity-name {
  width: 250px;
  align-self: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accessibility-container {
  height: 12px;
  width: 250px;
  margin-top: 20px;
  background-color: rgba(255,255,255,.75);
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgb(77,25,83);
}

.accessibility {
  height: 12px;
  background: linear-gradient(60deg, rgb(226,122,152), rgb(156,26,178));
  border-radius: 6px;
}

.price-container {
  height: 12px;
  width: 250px;
  margin-top: 20px;
  background-color: rgba(255,255,255,.75);
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgb(77,25,83);
}

.price {
  height: 12px;
  background: linear-gradient(60deg, rgb(226,122,152), rgb(156,26,178));
  border-radius: 6px;
}

.detail {
  font-size: 12px;
  margin-top: 4px;
}