.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 250px;
}

.activity {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

button.back {
  margin-top: 20px;
  width: 250px;
}